.box{

    width: 50%;
    height: 560px;
    background-color: seagreen;
    color: white;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;

}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

.container {
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    justify-content: left;
}

.container a {
    background-color: rgb(81, 136, 105);
    color: azure;
    text-decoration: none;
    padding: 10px;
    border: 5px solid rgba(58, 98, 75, 0.499);
    border-radius: 5px;
}

.container a:hover {
    background-color: rgba(95, 158, 122, 0.592);
}