@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

/* index.html */
.main_container{

    display: flex;
    height: 100vh;
    width: 100%;

}

.box{

    width: 50%;
    background-color: rgb(78, 146, 108);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
    position: relative;

}

.box h1 {

    font-size: 56px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 1px;
    padding: 10px;


}

.box h4 {
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-top: 1px;
}


.video-container {
    width: 50%;
    height: 100vh; /* Wichtig: Behält die volle Höhe bei */
    overflow: hidden; /* Schneidet überschüssiges Video ab */
    display: flex;
    justify-content: center; /* Zentriert das Video horizontal falls nötig */
    align-items: center; /* Zentriert das Video vertikal falls nötig */
}

/* Das Video-Element selbst */
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sie sorgt dafür, dass das Video den Container ausfüllt und beschneidet, ohne zu verzerren. */

    /* Falls das Video horizontal breiter ist, wird die Mitte angezeigt und die Seiten abgeschnitten. */
}

.book_btn {
    position: absolute;
    bottom: 20px; 
    left: 20px;    
    display: flex;
}

.book_btn a {
    background-color: rgb(13, 67, 56);
    color: azure;
    text-decoration: none;
    padding: 10px;
    border: 5px solid rgba(13, 67, 56);
    border-radius: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.book_btn a:hover {
    background-color: rgba(54, 151, 119, 0.592);
}

/* library.html */

.header{

    width: 100%;
    height: 100px;
    background-color: rgb(78, 146, 108);
    color: white;

    display: flex;

    position: relative;

}

.header h1{

    font-size: 42px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 5px;
    padding: 10px;

}